body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.card-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content h5 {
  margin-right: 10px;
}

img {
  border-bottom: 2px solid black;
}

.product-title h2,
.product-title p {
  margin: 10px 5px 10px 5px;
}

.product-favorites h5, 
.product-favorites p {
  margin: 10px 5px 10px 5px;
}