* {
  /*border: 1px solid red;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card-container {
  display: flex;
  justify-content: center; 
  border: 2px solid black;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form input {
  display: flex;
  padding: .5rem .75rem;
  border: 1px solid #d9d9d9;
  border-radius: .25rem;
  width: 100%;
}